%p Type in any song name, check if you want video and hit Enter or Download.

%center
  = form_tag '/song' do
    = label_tag :title, 'Name: '
    = text_field_tag :name
    %br
    %br
    = label_tag :video, 'Video: '
    = check_box_tag :video
    %br
    %br
    %br
    = submit_tag 'Download'